/*
Colorblind safe color palette from colorbrewer2.org
#ca0020 - Red
#f4a582 - Peach
#f7f7f7 - White
#92c5de - Light Blue
#0571b0 - Blue
*/

/*
This decleration makes the background color light blue, the main color blue,
aligns the text to the center of the page and sets the margins to 0
*/
body {
  background-color: #92c5de;
  color: #0571b0;
  text-align: center;
  margin: 0;
}

/*
This decleration sets the heading color to white, sets the space between
elements (padding) to 5 pixels and sets the margins to 0
*/
h1 {
  color: #f7f7f7;
  padding: 5px;
  margin: 0;
}

/*
This decleration refers to everthing in the main body of the page. It sets the
background color to white, maximum width to 1000 pixels, automatically sets
the margins, sets the height to 100vh, a 2 pixel solid white border, a 25
pixel border radius and hidden overflow
*/
#body-container {
  background-color: #f7f7f7;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  border: 2px solid #f7f7f7;
  border-radius: 25px;
  overflow: hidden;
}

/*
This decleration sets the background color of the header to Blue.
*/
#header {
  background-color: #0571b0
}

/*
This decleration sets the profile picture on the page to float on the left side
of the page
*/
#profile-picture {
  float: left;
}

/*
This decleration refers to the welcome text ("Welcome to my webpage..."),
setting the padding to 25 pixels and the font size to 25.
*/
#welcome-text {
  padding-top: 25px;
  font-size: 25px;
}

/*
This decleration sets the properties of the "research interests" list to align
left, have a font size of 25, have a relative position to the left at 50 pixels
*/
#research-interests {
  text-align: left;
  font-size: 25px;
  position: relative;
  left: 50px;
}

#webmap-reviews {
  text-align: left;
  font-size: 25px;
  position: relative;
}

#copyright {
  position: absolute;
  width: 1000px;
  text-align: center;
  bottom: 20px;
}
